section{
    background-color: rgb(251, 251, 249);
}
header{
background-color: chartreuse;
color: white;
font-family: sans-serif;

}
    .carouselslide{
        width: 100%;
    }
    img{
        height: 35rem;
    }
    header h1{
        margin-left: 42rem;
        font-size: 3rem;
    }

    h2{
        font-weight: revert;
    }
    .details{
        background-color: rgb(25, 172, 25);
        color: white;
        border-radius: 9px;
    }
 

@media only screen and (max-width:1170px)  {
    .carouselslide{
        width: 100%;
    }
    img{
        height: 28rem;
    }
    header h1{
        margin-left: 20rem;
        font-size: 2.6rem;
    }
}
@media only screen and (max-width:800px)  {
    .carouselslide{
        width: 100%;
    }
    img{
        height: 25rem;
    }
    header h1{
        margin-left: 10rem;
        font-size: 2.4rem;
    }
}

.details:hover{
    box-shadow: 4px 4px 5px 5px rgb(180, 221, 180);
    background-color: rgb(6, 151, 6);
    border-radius: 10px;
}

